[Unit]
Description={{ wildfly.svc }} Wildfly Application Server Instance
After=syslog.target network.target
Before=nginx.service httpd.service

[Service]
Environment=LAUNCH_JBOSS_IN_BACKGROUND=1
EnvironmentFile=/etc/default/{{ wildfly.svc }}
User={{ wildfly.svc }}
LimitNOFILE=102642
PIDFile={{ wildfly.base }}/{{ wildfly.svc }}/run/{{ wildfly.svc }}.pid
ExecStart=/bin/sh {{ wildfly.home }}/wildfly-{{ wildfly.version }}/bin/standalone.sh -c ${WILDFLY_CONFIG} -b ${WILDFLY_BIND}
StandardOutput=null

[Install]
WantedBy=multi-user.target

